.jumbotron
{
	background: url(maldives.png);
	height: 400px;
	width: 1150px;
	background-position:;
	background-size:cover;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	font-size: 50px;
	color: blue !important;
	margin-bottom: 0px !important;

}
.alert alert-success{
	padding-top: 10px;
	margin-top: 10px;
}
td{
	width:900px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #add8e6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #9bc2cf;
    color: white;
}

h3, h4 {
	margin-left: 80px;
	margin-right: 40px;
}